*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.ads-part{
    /* padding-left: 55px;
    padding-right: 40px; */
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
}
.heading{
    display: inline-flex;
    font-size: 7vh;
    padding-top: 4vh;
    justify-content: center;
    color: white;
}
#d{
    padding-left: 615px;
}
#down{
    font-size: 4vh;
}
.imp{
    margin-left: 400px;
}
.title{
    text-align: center;
    font-size: 4vh;
    text-transform: uppercase;
}
.box{
    display: inline-block;
    text-transform: uppercase;
    /* padding-top: 45px; */
    padding-left: 10px;
}
.box img{
    transition: transform 0.3s ease;
}
.box img:hover {
    transform: scale(1.05);
}
.btn-view{
    font-size: 3vh;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-left: 615px;
    background-color: white;
}
#pad-left{
    padding-left: 50px;
} 
.gallery-container {
    width: 100%;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px;
    background-color: #fff;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.bottom-left {
    position: absolute;
    bottom: 20%;
    left: 14%;
    text-transform: uppercase;
    font-size: 7vh;
    color: white;
}
.bottom-more-left {
    position: absolute;
    bottom: 20%;
    left: 51%;
    text-transform: uppercase;
    font-size: 7vh;
    color: white;
}  
.bottom-more-ll {
    position: absolute;
    bottom: 20%;
    left: 95%;
    text-transform: uppercase;
    font-size: 7vh;
    color: white;
}  
.bottom-more-lll {
    position: absolute;
    bottom: 20%;
    left:  265vh;
    text-transform: uppercase;
    font-size: 7vh;
    color:white ;
    z-index: 1;
}
.bottom-last {
    position: absolute;
    bottom: 20%;
    left:  355vh;
    text-transform: uppercase;
    font-size: 7vh;
    color: white;
    z-index: 1;
}  
#pad-right{
    padding-right: 50px;
} 
  .gallery-container::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
  
.gallery {
    display: flex;
    gap: 30px;
}
  
.gallery img {
    max-height: 600px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}
  
.gallery img:hover {
    transform: scale(1.05);
}

.jod-jordan{
    position: relative;
}

.shop-by-c{
    display: flex;
    justify-content: center;
    font-size: 40px;
}
@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.brand{
    overflow: hidden;
    background-color: white; 
    white-space: nowrap;
    position: relative;
}
.brand:hover .logos-slide{
    animation-play-state: paused;
}

.logos-slide{
    display: inline-block;
 
    animation: 25s slide infinite linear;
}
.logos-slide img{
    height: 95px;
    margin: 0 10px;
}

.various-cat{
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: transform .1s;
}
#cat:hover{
    transform: scale(1.05);  
}
.footer{
    background-color: black;
    height: 300px;
    color: whitesmoke;
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-right: 0%;
}
.links {
    list-style: none;
}
.legal{
    list-style: none;
}
.copy-right{
    display: flex;
    align-items: center;
}


body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}